footer{
    width:100%;
    height:100%;
    padding:20px;
    display:flex;
    #footer-inner{
        width:600px;
        max-width: 100%;
        margin: 1em auto;
        text-align:center;
        font-size:.8em;
        a:link,
        a:visited{
            color:$green;
        }
        a:hover,
        a:active{
            color:$lime;
        }
    }
}