#generator-inner-search{
    &.hidden{
        display:none;
    }
    .form{
        width:100%;
        margin:12px 0;
        &-input{
            width:100%;
            border-radius:100px;
            border-width: 0;
            padding:12px 24px;
            background:$white;
            font-size:1rem;
            color:$dark;
            outline:none;
        }
    }
    .results{
        margin:0 -12px;
        .notice{
            width:100%;
            text-align: center;
            font-style: italic;
            font-size:1.2rem;
        }
        @import './generator-single';
    }
}